.produced{
    font-family:sans-serif;
    color: brown;
}
.act-name{
    font-family:sans-serif;
    color:chocolate;
}
.act{
    font-family:sans-serif;
    color:cornflowerblue;  
}
.speech{
    font-size: 15px;
    font-family:'Courier New', Courier, monospace;
    color: black;
}
.stage-direction{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    background-color: lightgrey;
}
.name{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
}
.stage-direction:hover{
    background-color:lightgrey;
    color:rgb(240, 227, 240);
}
.name{
    font-size: medium;
    color: black;
}
.lady{
    font-size: medium;
    color:mediumpurple;
}
.erlynne{
    font-size: medium;
    color:salmon;
}
/* table,
th,
td {
    border: 1px solid black;
} */
table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
    width: auto;
    margin: left;
    text-align: center;
    padding: 15px;
    border-spacing: 5px;
    background-color: whitesmoke;
  }
th{
    background-color:lightskyblue;
}
td{
    background-color: whitesmoke;
}
.name:hover{
    background-color: goldenrod;
    color: #134585;
}
img{
    border-radius: 10px;
    margin-left: 30px;
    width:300px;
    height: 200px;
}